[Desktop Entry]
Categories=wtools;
Comment=wtools
Comment[zh_CN]=wtools
Encoding=UTF-8
Exec=/opt/apps/wtools/wtools -r
GenericName=wtools
GenericName[zh_CN]=wtools
Icon=/opt/apps/wtools/wtools.svg
Name=wtools
Name[zh_CN]=wtools

StartupNotify=true
Terminal=false
Type=Application
